@font-face {
    font-family: 'MainFonts';
    src: url(fonts/MPLUSRounded1c-Medium.ttf);
}
@keyframes spin-anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(359deg);
    }
}
*, *::before, *::after {
    box-sizing: border-box;
}
html{
    font-family: "MainFonts";
    scroll-behavior: smooth;
}
body {
    color: #555;
    margin:0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    /*background-color: #f1f1f1;*/
    background-color: white;
}
img{
    max-width: 100%;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin:0px;
    padding:0px; 
    font-weight: normal;
    color: #333;
    line-height: 1.2;
}
a{
    -webkit-tap-highlight-color: transparent;
}
p{
    margin: 0px;
}
label{
    padding: 4px 0px;
    font-size: 18px;
    font-weight: normal;
}
input,select,button,textarea,.main-button,.ql-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: rgb(240,240,240);
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    color: black;
    padding: 8px 16px;
    font-family: sans-serif;
    font-weight: normal;
    color: black;
    border:none;
    outline: none;
    box-sizing: border-box;
}
button,input[type=submit],.main-button{
    background-color: #1c4342;
    color: white;
}
textarea{
    width: 100%;
    min-height: 300px;
    resize: none;
}
textarea.readonly{
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
}
.klik:hover{
    cursor: pointer;
}
.anim-rotate{
    animation: spin-anim 1s infinite;
}
.icon-red{
    filter: invert(24%) sepia(85%) saturate(6132%) hue-rotate(355deg) brightness(104%) contrast(102%) !important;
}
.icon-white{
    filter: invert(100%) sepia(3%) saturate(4%) hue-rotate(287deg) brightness(105%) contrast(100%);
}
.ql-container{
    display: block;
}
.ql-container .ql-editor{
    padding: 0px;
}

/* just effect */
.hr{
    display: flex;
    height: 3px;
    border-radius: 3px;
    background-color: black;
    width: 70%;
    margin: 16px calc(15%);
}
.bg-effect{
    position: fixed;
    top: 0;
    left: 0;
    min-height:300px;
    height: 100%;
    width: 100%;
    background-image: url('../assets/nav-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -9;
}
.bg-effect-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    min-height:600px;
    height: 100%;
    width: 100%;
    background-image: url('../assets/nav-bg-bottom.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: -9;
}

/*This what makes app looks alive!*/
.container{
    display: block;
    width: 100%;
}
.container .content{
    display: block;
    margin: 24px;
}
.container.nav-parent .content .content-partition .main-button{
    margin-left: 0px;
    margin-right: 16px;
    background-color: rgba(0, 0, 0, 0);
}
.container .content .content-partition.partition-right .main-button{
    margin-left: 16px;
    margin-right: 0px;
}

.main-button{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    transition: 0.2s;
    cursor: pointer;
}
.main-button.main-button-round{
    border-radius: 50%;
}
.nav-parent .main-button:active{
    background-color: rgba(255,255,255, 0.5) !important;
    /*box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;*/
    transition: 0s;
    color: black;
}
.main-button i{
    font-size: 24px;
}
.main-button img{
    min-width: 40px;
    min-height: 40px;
}

/* Slider Input */
.slider-input{
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 0 ;
    margin: 16px 0px;
    border-radius: 16px;
}
.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 50px; /* Set a specific slider handle width */
  height: 40px; /* Slider handle height */
  background: #1c4342; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 16px;
  background-image: url('');
}

.slider-input::-moz-range-thumb {
  width: 52px; /* Set a specific slider handle width */
  height: 32px; /* Slider handle height */
  background: #1c4342; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider-input-container:has(.slider-input){
    width: 100%;
    height: 30px;
    border-radius: 16px;
    background-color: #dadce0;
    overflow: hidden;
}
.slider-input-container:has(.slider-input){
    margin: 16px 0px;   
}
.slider-input-container .slider-input{
    position: relative;
    top: -30px;
    margin: 0px;
}
.slider-input-effect{
    width: 100%;
    height: 30px;
    border-radius: 16px;
    background-color: #3a8f8c;
}
/* Brand logo */
.brand-parent{
}
.brand-parent .brand-content{   
    display: flex;    
    align-items: center;
    justify-content: center;
}
.brand-parent .brand-content img{
    width: 300px;
    height: auto;
}

/* Centering Container */
.center-parent{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    flex-direction: column;
    flex: 1;
}
.center-parent.center-parent-device{
    min-height: 100vh;
}
.center-parent .center-content{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 8px;
}

/* Nav Thing */
.nav-parent{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 99;
    transition: 0.5s;
}
.nav-parent.blur{
    background-color: rgba(226, 221, 202,1);
    transition: 0.5s;
}
.nav-parent .nav-content{
    display: flex;
    margin: 8px 16px;
    z-index: 98;
}
.nav-partition{
    display: flex;
    width: 100%;
    flex-grow: 1;
    max-width: 50%;
    justify-content: flex-start;
}
.nav-partition.partition-right{
    justify-content: flex-end;
}
/* Nav Button */
.nav-button{
    color: #0d3c3a;
    width: 40px;
    height: 40px;
}
.nav-button i{
    font-size: 26px;
}
.nav-button img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*Explore main app body*/
.explore-parent{

}
.explore-parent .explore-content{
    margin: 8px 16px;
}
.explore-parent .explore-content .explore-title{
    display: flex;
    justify-content: flex-start;
}
.explore-parent .explore-content .explore-title.title-center{
    justify-content: center;
}
.explore-parent .explore-content .explore-title h1{
    font-size: 32px;
    font-weight: bold;
}
.explore-parent .explore-content .explore-title h2{
    font-size: 20px;
    font-weight: bold;
}
.explore-parent .explore-content .explore-title.title-center h1{
    text-align: center;
}
.explore-parent .explore-content .explore-subtitle{
    display: flex;
    justify-content: flex-start;
}
.explore-parent .explore-content .explore-subtitle.subtitle-center{
    justify-content: center;
}
.explore-parent .explore-content .explore-subtitle h2{
    font-size: 20px;
    font-weight: normal;
}
.explore-parent .explore-content .explore-subtitle p{
    font-size: 20px;
    font-weight: normal;
}
.explore-parent .explore-content .explore-subtitle.subtitle-center h1{
    text-align: center;
}

/* swiper */
.swipe-parent{

}
.swipe-parent .swipe-content{
    margin: 16px 0px;
}
.swipe-parent .swipe-content .swiper-slide{
    width: auto;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    text-decoration: none;
}
.swipe-parent .swipe-content .swiper-slide .swipe-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: 0px 16px;
    padding: 12px;
    color: white;
    background-color: #103e3e;
    transition: 0.4s;
    border-radius: 16px;
}
.swipe-parent .swipe-content .swiper-slide .swipe-box:active{
    transform: scale(0.95);
    transition: 0s;
}
.swipe-parent .swipe-content .swiper-slide .swipe-box.swipe-normal{
    width: 200px;
    min-height: 100px;
    height: auto;
}
.swipe-parent .swipe-content .swiper-slide .swipe-box.swipe-circle{
    border-radius: 50%;
}
.swipe-parent .swipe-content .swiper-slide .swipe-box.swipe-round{
    border-radius: 80px;
}
.swipe-parent .swipe-content .swiper-slide .swipe-box.swipe-grow{
    width: auto;
    min-width: 80px;
}
.swipe-parent .swipe-content .swiper-slide .swipe-box .swipe-thumbnail{
    width: 100%;
    height:120px;
    background-color: white;
    border: 2px solid white;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-image: url('../assets/thumbnail.png');*/
}
.swipe-parent .swipe-content .swiper-slide .swipe-box i{
    font-size: 38px;
}
.swipe-parent .swipe-content h3{
    font-size: 24px;
    font-weight: normal;
    color: white;
    margin: 0px 0px;
    line-height: 1.2;
}
.swipe-parent .swipe-content .swiper-slide .swipe-box.swipe-round i,.swipe-parent .swipe-content .swiper-slide .swipe-box.swipe-round h3{
    padding: 0px 16px;
}


/* Swiper article */
.swipe-parent .swipe-content .swiper-slide .swipe-box.swipe-article{
    display: block;
}
.swipe-article .swipe-article-thumbnail{
    width: 100%;
    height: 120px;
}
.swipe-article .swipe-article-title{
    width: auto;
    padding: 4px;
}
.swipe-article .swipe-article-title h3,.swipe-article .swipe-article-title h4{
    font-size: 16px;
    font-weight: normal;
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 1.2;
}

/*Swiper landscape*/
.swipe-parent .swipe-content .swiper-slide .swipe-box.swipe-article.swipe-article-landscape{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    min-height: 100px;
}
.swipe-article-landscape .swipe-article-thumbnail{
    display: block;
    min-width: 90px;
    min-height: 90px;
    max-width: 90px;
    max-height: 90px;
    background-color: white;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swipe-article-landscape .swipe-article-title{
    width: 200px;
    padding: 0px 12px;
    padding-right: 0px;
}
.swipe-article-landscape .swipe-article-title h3{
    font-size: 20px;
}
.swipe-article-landscape .swipe-article-title h4{
    font-size: 15px;
}

/*Swiper buku*/
.swipe-parent .swipe-content .swiper-slide .swipe-box.swipe-article.swipe-article-cube{
    display: block;
    width: 150px;
    min-height: 100px;
}
.swipe-article-cube .swipe-article-thumbnail{
    width: 100%;
    height: 132px;
    background-color: white;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swipe-article-cube .swipe-article-title h4{
    font-size: 14px;
}

/* Swiper Count */
.swipe-count .swipe-content .swiper-slide{
    transform: scale(0.6);
}
.swipe-count .swipe-content .swiper-slide.swiper-slide-active{
    transform: scale(1);
}
.swipe-count .swipe-content .swiper-slide h4{
    font-size: 38px;
    color: white;
}

/* Swiper Count Water */
.swipe-parent .swipe-content.freeze-swipe{
    margin: 0px;
}
.swiper-count-water .swipe-content .swiper-slide{
    transform: scale(0.8);
}
.swiper-count-water .swipe-content .swiper-slide.swiper-slide-active{
    transform: scale(1);
    opacity: 1;
}
.swiper-count-water .swipe-content .swiper-slide .swipe-box{
    width: 100px;
    height: 100px;
    margin: 0px;
}
.swiper-count-water .swipe-content .swiper-slide .swipe-box-small{
    width: 60px;
    height: 60px;
    margin-left: 0px;
}
.swiper-count-water .swipe-content .swiper-slide:has(.swipe-box-small){
    transform: scale(0.7);
    opacity: 0.5;
}
.swiper-count-water .swipe-content .swiper-slide.swiper-slide-active:has(.swipe-box-small){
    transform: scale(1);
    opacity: 1;
}
.swiper-count-water .swipe-content .swiper-slide.swiper-slide-active .swipe-box{
    background-color: #74c0fc;
}
.swiper-count-water .swipe-content .swiper-slide.swiper-slide-next .swipe-box{
    background-color: white;
}
.swiper-count-water .swipe-content .swiper-slide.swiper-slide-next .swipe-box-small{
    background-color: #74c0fc;
}
.swiper-count-water .swipe-content .swiper-slide .swipe-box{
    border: 4px solid #5c99c9;
    background-color: #a5d5fc;
}
.swiper-count-water .swipe-content .swiper-slide h4{
    font-size: 30px;
    color: white;
}
.swiper-count-water .swipe-content .swiper-slide .swipe-box-small h4{
    font-size: 20px;
    color: white;
}
.swiper-count-water .swipe-content .swiper-slide.swiper-slide-next h4{
    color: #5c99c9;
}
.swiper-count-water .swipe-content .swiper-slide.swiper-slide-next .swipe-box-small h4{
    color: white;
}
.swiper-count-water .swipe-content .swiper-slide i{
    margin-right: 8px;
    font-size: 30px !important;
}
.swiper-count-water .swipe-content .swiper-slide.swiper-slide-next i{
    color: #5c99c9;
}
.swiper-count-water .swipe-content .swiper-slide.empty .swipe-box-small{
    background-color: white !important;
}
.swiper-count-water .swipe-content .swiper-slide.empty .swipe-box-small h4{
    color: #5c99c9;
    font-weight: bold;
}

/* Login Container */
.form-parent{

}
.form-parent.bottom{

}
.form-parent .form-content{
    margin: 16px;
}
.form-parent .form-content .form-input{
    display: block;
    margin: 8px 0px;
}
.form-input label{
    font-size: 18px;
    color: black;
    line-height: 1;
}
.form-input select{
    appearance: none
}
/*Mobile ya kak*/
@media only screen and (max-width: 960px){
    
}

/* Class default things */
.userDataAvatar{
    background-color: white;
}
.userDataSurName.lowercase{
    text-transform: lowercase;
}
.main-button-red{
    background-color: #ba342a !important;
}